<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Visión General
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  overview
  <br>

  <ion-item button (click)="logout()">
    <ion-icon
      class="align-middle"
      [name]="'log-out'"
      item-left
    ></ion-icon>
    <span class="align-middle">Salir</span>
  </ion-item>
</ion-content>
