<ion-content class="ion-padding">
  <ion-card class="background-theme">
    <form [formGroup]="providerForm" (ngSubmit)="save()" novalidate>
      <ion-card-header *ngIf="provider.id != null" color="primary" translate>{{
        "EDITAR PROVEEDOR"
      }}</ion-card-header>
      <ion-card-header *ngIf="provider.id == null" color="primary" translate>{{
        "AGREGAR UN PROVEEDOR"
      }}</ion-card-header>
      <ion-card-content>
        <ion-list no-line>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "NOMBRE" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="company_name"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.company_name"
            >
              <div
                class="error-message"
                *ngIf="
                provider.get('company_name').hasError(validation.type) &&
                  (providerForm.get('company_name').dirty ||
                  providerForm.get('company_name').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "CUIT" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="cuit"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.first_name"
            >
              <div
                class="error-message"
                *ngIf="
                  providerForm.get('cuit').hasError(validation.type) &&
                  (providerForm.get('cuit').dirty ||
                  providerForm.get('cuit').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <!-- <ion-item>
                <ion-label floating>
                  <span class="input-group-addon">DNI: </span>
                  <span class="danger">(*)</span>
                </ion-label>
                <ion-input class="form-control" type="number" formControlName="dni" clearInput></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.dni">
                  <div class="error-message" *ngIf="userForm.get('dni').hasError(validation.type) && (userForm.get('dni').dirty || userForm.get('dni').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div> -->
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "CATEGORIA IVA" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="ivacategid"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.ivacategid">
              <div
                class="error-message"
                *ngIf="
                  providerForm.get('ivacategid').hasError(validation.type) &&
                  (providerForm.get('ivacategid').dirty || providerForm.get('ivacategid').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "TELEFONO" }}: </span>
            </ion-label>
            <ion-input
              class="form-control"
              type="number"
              formControlName="phone"
              clearInput
            ></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-card-content class="ion-content-right ion-float-right">
        <ion-button (click)="cancel()" shape="round" fill="outline">
          {{ "CANCELAR" }}
        </ion-button>
        <ion-button type="submit" shape="round" fill="outline">
          {{ "GUARDAR" }}
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
  <ion-fab bottom right>
    <!-- <button ion-fab mini color="primary" (click)="scrollToTop()">
          <ion-icon name="arrow-up"></ion-icon>
        </button> -->
  </ion-fab>
</ion-content>


