<ion-content class="ion-padding">
  <ion-card class="background-theme">
    <form [formGroup]="cashregisterForm" (ngSubmit)="save()" novalidate>
      <ion-card-header *ngIf="cashregister.id != null" color="primary" translate>{{
        "CAJA ABIERTA"
      }}</ion-card-header>
      <ion-card-header *ngIf="cashregister.id == null" color="primary" translate>{{
        "CAJA CERRADA"
      }}</ion-card-header>
      <ion-card-content>
        <ion-list no-line>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "FECHA APERTURA" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="date_start"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.date_start"
            >
              <div
                class="error-message"
                *ngIf="
                  cashregisterForm.get('date_start').hasError(validation.type) &&
                  (cashregisterForm.get('date_start').dirty ||
                  cashregisterForm.get('date_start').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "FECHA CIERRE" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="date_end"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.date_end"
            >
              <div
                class="error-message"
                *ngIf="
                  cashregisterForm.get('date_end').hasError(validation.type) &&
                  (cashregisterForm.get('date_end').dirty ||
                  cashregisterForm.get('date_end').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "NUMERO" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="number"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.number"
            >
              <div
                class="error-message"
                *ngIf="
                  cashregisterForm.get('number').hasError(validation.type) &&
                  (cashregisterForm.get('number').dirty ||
                  cashregisterForm.get('number').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "MONTO APERTURA" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="open_amount"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.open_amount"
            >
              <div
                class="error-message"
                *ngIf="
                  cashregisterForm.get('open_amount').hasError(validation.type) &&
                  (cashregisterForm.get('open_amount').dirty ||
                  cashregisterForm.get('open_amount').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "MONTO CIERRE" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="close_amount"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.close_amount"
            >
              <div
                class="error-message"
                *ngIf="
                  cashregisterForm.get('close_amount').hasError(validation.type) &&
                  (cashregisterForm.get('close_amount').dirty ||
                  cashregisterForm.get('close_amount').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "USUARIO" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="user_name"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.date_start"
            >
              <div
                class="error-message"
                *ngIf="
                  cashregisterForm.get('user_name').hasError(validation.type) &&
                  (cashregisterForm.get('user_name').dirty ||
                  cashregisterForm.get('user_name').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          
          
        </ion-list>
      </ion-card-content>
      <ion-card-content class="ion-content-right ion-float-right">
        <ion-button (click)="cancel()" shape="round" fill="outline">
          {{ "CANCELAR" }}
        </ion-button>
        <ion-button type="submit" shape="round" fill="outline">
          {{ "GUARDAR" }}
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
  <ion-fab bottom right>
    <!-- <button ion-fab mini color="primary" (click)="scrollToTop()">
          <ion-icon name="arrow-up"></ion-icon>
        </button> -->
  </ion-fab>
</ion-content>
