<ion-list class="ion-no-padding ion-no-margin">
  <!--   <ion-list-header color="dark">
    <ion-label class="fw700">{{title}}</ion-label>
  </ion-list-header> -->

  <ion-item
    *ngFor="let item of items; let i = index"
    class="text-10"
    (click)="closePopover()"
    [routerLink]="item.path"
  >
    <ion-icon [name]="item.icon" color="light"></ion-icon>
    <ion-label>{{ item.label }}</ion-label>
  </ion-item>
</ion-list>
